@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply bg-white text-primary font-body antialiased; }
  h1, h2, h3 { @apply font-title font-bold; }
}

@layer components {
  .btn { @apply inline-flex items-center justify-center px-8 py-3 rounded-full font-semibold transition-all active:scale-95; }
  .btn-primary { @apply bg-primary text-white hover:bg-slate-800; }
  .btn-accent { @apply bg-accent text-white hover:brightness-110; }
}

/* Fix Swiper Pagination agar terlihat */
.swiper-pagination-bullet { @apply !bg-primary !opacity-20; }
.swiper-pagination-bullet-active { @apply !opacity-100 !bg-accent !w-6 !rounded-md transition-all; }